.guy{	
	width: 72%;
    height: 81%;
    margin: 0px 0px 7px -35px;
    display: inline
}

.girl{
	width: 72%;
    height: 81%;
    margin: 0px 0px 7px -35px;
    display: inline
}

.icon2{
	float: right;
    margin: -437px 31px 0px 0px;

	display: inline-block;
    font-family: Ratchicons;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

} 
