img{	
	width: 55%;
    height: 70%;
    margin: 0px 0px 7px -35px;
    display: inline;
    margin-top: 40px
}
.icon2{
	float: right;
    margin: 50px 48px 0px 0px;
	display: inline-block;
    font-family: 'Indie Flower';
    font-size: 42px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-weight: bolder;

} 
.icon3{
    float: right;
    margin: -1135px 48px 0px 0px;
    display: inline-block;
    font-family: 'Indie Flower';
    font-size: 42px;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-weight: bolder;

} 
.bar .btn.pull-right{
    height: 3em;
    width: 6em;
    font-size: 14px;
    font-weight: bold;
}

.icon{
    color: black;
    font-weight: bold;
}
.frame{
    float: left;
    position: absolute;
    z-index: -1;
    height: 75%;
    margin-left: 5px;
}
.guy{
    margin-left: 45px;
}
.girl{
    margin-left: 45px;
}
.continue {
    margin-top: 6%;
    margin-left: 20%;
    height: 115px;
    width: 600px;
    font-size: 65px;
    line-height: 100%;
    font-family: 'Indie Flower';
}
