#select{
    text-align: center;
    font-size: 80px;
    line-height: 215%;
    margin-top: 95px;
    margin-bottom: 30px;
}

.gender{
	width: 100%
	margin: 0 auto;
	height: auto;
	text-align: center;
}

.icon{
    color: black;
    font-weight: bold;
}


