.intro{
	    text-align: center;
    background-color: azure;
    /* height: 5em; */
    /* width: 12em; */
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 1em 1em 1em;
    font-size: 22px;
    border-style: solid;
    border-width: thin;
}

.left{
	background-color: green;
    /* height: 5em; */
    /* width: 12em; */
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 2em 7em 5em 2em;
    font-size: 14px;
    border-style: solid;
    border-width: thin;
    max-width: 296px;
    max-height: 129px;
    clear: both;
}

.right{
	float: right;
	background-color: purple;
    /* height: 5em; */
    /* width: 12em; */
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 34em 8em 6em 28em;
    font-size: 14px;
    border-style: solid;
    border-width: thin;
    max-width: 211px;
    max-height: 163px;
    display: block;
    text-align: right;
}

.choice{
	text-align: center;
	    text-align: center;
    text-align: center;
    background-color: azure;
    height: 9em;
    /* width: 12em; */
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    font-size: 17px;
    border-style: solid;
    border-width: thin;
    max-height: 350px;
}

.button{
	background-color: yellow;
	text-align: center;
}
.c{
	text-align: center;
}

.d li{
	float: left;
	list-style: none;
	margin: 0 20px;
}

.e li{
	list-style: none;
}

.aa{
	text-align: center;
}

.haha{
	text-align: center;
}

.h li{
	list-style: none;
}

.n li{
	list-style: none;
}

.j li{
	list-style: none;
}

.hehe{
	text-align: center;
}