body {
  position: inherit;
}

.bar-standard {
  top: 0;
}

.content-padded {
  margin-top: 60px;
}
.intro{
	text-align: center;
	    background-color: azure;
    /* height: 5em; */
    /* width: 12em; */
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
    font-size: 22px;
    border-style: solid;
    border-width: thin;
}

.a{
	text-align: right;
}

.choice{
	text-align: center;
	    text-align: center;
    text-align: center;
    background-color: azure;
    height: 6em;
    /* width: 12em; */
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
    font-size: 17px;
    border-style: solid;
    border-width: thin;
}

.button{
	background-color: yellow;
}
.c{
	text-align: center;
}

.o{
	text-align: right;
}

.q{
	text-align: right;
}

.p{
	text-align: right;
}

.d li{
	float: left;
	list-style: none;
	margin: 0 20px;
}

.e li{
	list-style: none;
}

.aa{
	text-align: center;
}

.haha{
	text-align: center;
}

.f{
	text-align: right;
}

.h li{
	list-style: none;
}

.l{
	text-align: right;
}

.i{
	text-align: right;
}

.n li{
	list-style: none;
}

.j li{
	list-style: none;
}

.m{
	text-align: right;
}

.hehe{
	text-align: center;
}
